{% extends "base.html" %}

{% block body %}

    <h1>{{ profile.user.username }} Profile</h1>
    {% if profile.is_approved %}
        You are approved and can send data to ClipCloud.<br /><br />
        
        {# FORM TO POST DATA TO CLIPCLOUD ###}
        <strong>Send Data to ClipCloud:</strong>
        <form action="{% url sample_project.sample_app.views.post_data_to_clipcloud %}" method="POST">
            {{ form.as_table }}
            <input type="Submit" />
        </form>
        <hr />
        
        {# LIST OF RECENT COPIES SENT TO CLIPCLOUD ####}
        {% if recent_copies %}
            <strong>Recent Copies</strong>
            <ul>
                {% for copy in recent_copies %}
                    <li>{{ copy }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
    {% else %}
    
        <a href="{% url sample_project.sample_app.views.link_account %}">Link Your Account to ClipCloud</a> or
        <hr />
        
        Set your <strong>Verification Code</strong> if you have received it from ClipCloud.
        
        <form name="verifier" method="POST" action="{% url sample_project.sample_app.views.set_verifier %}">
            {{ verification_form.as_table }}
            <input type="Submit" />
        </form>
        
    {% endif %}

{% endblock %}